.user-summ {
    width: 100%;
    height: fit-content;
    .info-summ {
      display: flex;
      flex-wrap: wrap;
      height: 500px;
    }
  }
  .white-background {
    background-color: white;
  }
  
 
  
  .card1 {
    background-color: #b624ff;
  }
  .card2 {
    background-color: #32963d;
  }
  .card3 {
    background-color: #03a5fc;
  }
  .card4 {
    background-color: #c41849;
  }