.workflow {
    margin-top: 5%;
    border: black 3px solid;
    border-radius: 10px; /* Adjust the border-radius to make the edges rounded */
    padding: 30px; /* Adjust the border height (5px in this example) */
    border-color: #007bff;


  }
  
  .halfpage {
    display: flex;
border-bottom: 1px solid lightgrey;  }
  
  .automate {
    width: 70%;
    display: flex;
    flex-direction: column; /* Change the direction to column */
    
  
  }

  .notep{
    margin-top: 40px;
  }
  
  .imagejpg {
    width: 30%;
    text-align: center;
    display: flex;
    align-items: center;
  }
  
  .imagejpg img {
    max-width: 100%; /* Set a maximum width to fit the container */
    max-height: 100%; /* Set a maximum height to fit the container */
  }
  

  .big-rounded-button {
    padding: 10px 16px; /* Adjust padding to make the button bigger */
    border: none;
    border-radius: 20px; /* Adjust the border-radius to make the edges rounded */
    background-color: #007bff; /* Change the background color to your preferred color */
    color: #fff; /* Change the text color to white or your preferred color */
    font-size: 14px; /* Adjust the font size to make the text bigger */
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    /* Add hover effect (optional) */
    &:hover {
      background-color: #0056b3; /* Change the background color on hover */
    }
  }

  .button-container {
    display: flex;
    align-items: left;
    gap: 10px;
    margin-top: 40px;
  
  }
  
  
  .spacer {
    width: 20px; /* Adjust the width to control the space between the buttons */
  }

  .plain-text {
    background-color: transparent;
    border: none;
    color: #007bff;
    font-size: 14px;
    text-decoration: none; /* Remove the default underline */
    cursor: pointer;
  
    &:hover {
      text-decoration: underline; /* Add underline on hover */
    }
  }
  
  
  