.button-style {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.filter {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
}

.filterforname {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 0;
}

.filterforname {
  flex-grow: 1;
}

.event-button-container {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  width: calc(33.33% - 20px);
  max-width: 350px;
  margin: 10px;
  padding: 5px 0;
  backdrop-filter: blur(10px); /* Add the glass blur effect */
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.15);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
border: 5px solid rgba(255, 255, 255, 0.5);
  justify-content: center;
  color: rgb(255, 253, 253);
}


.withincard {
  padding: 10px;
}

.dropright {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}

.dropleft {
  display: flex;
  justify-content: flex-start;
  flex-grow: 1;
}

.parent-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.each-event-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card-container {
  width: calc(33.33% - 1rem); /* Adjust the width based on your requirements */
  flex-grow: 1;
  flex-basis: 0;
}

.search-container {
  width: 200px; /* Adjust the width value to your preference */
  height: 10px;
  padding: 30px;
}

.link-no-underline:link,
.link-no-underline:visited {
  color: inherit; /* Inherit the default text color */
  text-decoration: none; /* Remove underline */
}
.lightblue {
  background-color: #ade8af;
}
.lightyellow {
  background-color: #d5d2bc;
}
.lightold {
  background-color: #c1b3b3;
}
.lightcus {
  background-color:  #b0b093;
}.lightrecu {
  background-color:  #eed8ee;
}

/* eventStyles.css */
.past-event {
  margin: 20px; /* Adjust the margin as per your requirements */
}

.pending-event {
  margin: 20px; /* Adjust the margin as per your requirements */
}


.date-range-picker {
  
  padding-left: 380px;
}


.--btnschedule {
  font-size: 1.5rem;
  font-weight: 200;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
}

.--btnschedule:hover {
  transform: translateY(-2px);
}


.contrl-btn{
  margin-left: 520px;
}