
.modal-contents {
  display: flex;
  flex-direction: column;
  align-items: center;

  h4 {
    margin-bottom: 20px;
  }

  form {
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: 2px solid #808080
    ;
  }

  label {
    margin-bottom: 5px;
    font-size: 14px; /* Adjust the font size as desired */
  }

  input, textarea {
    width: 100%;
    padding: 10px; /* Adjust the padding as desired */
    font-size: 15px; /* Adjust the font size as desired */
    border: 2px solid #808080    ;
    box-sizing: border-box;
    border-radius: 5px; /* Adjust the radius as needed */
    
    
  }

  .reactQuill{
    width: 100%;
    padding: 10px; /* Adjust the padding as desired */
    font-size: 15px; /* Adjust the font size as desired */
    border: 2px solid #808080    ;
    box-sizing: border-box;
    border-radius: 5px; /* Adjust the radius as needed */
  }

  .reactQuill:focus {
    border: 3px solid black	; /* Change the border color to blue */
  }
  


  input:focus {
    border: 3px solid black	; /* Change the border color to blue */
  }
  
  
}

