.button-wrapper {
  position: relative;
  display: inline-block;
}

.button {
  background-color: #FFEDC9;
  border: none;
  color: black;
  padding: 10px 10px 10px 20px; /* Add padding-right: 30px; */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20px; /* Add this line to make the edges round */

}

.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.nav-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.nav-link:hover {
  background-color: #f1f1f1;
}

.clicked {
  background-color: #0d3d71;
  transform: scale(1.1);
}
