.header {
    background-color: #089DE3;
    height: 7rem;
  
    display: flex;
    justify-content: center;
    align-items: center;
    // max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;

    .header::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.05) 50%, rgba(255, 255, 255, 0) 100%);
      z-index: -1;
    }
  
    & nav {
      width: 100%;
      max-width: 1000px;
      
      display: flex;
      justify-content: space-between;
      align-items: center;
  
   
      & > .logo {
        color: #fff;
        flex: 3;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        cursor: pointer;
      }
    }
  }

  
  

  .logo img{
    width: 90px;
  }
  .home-links {
    display: flex;
    justify-content: center;
    align-items: center;
    & li a {
      color: #fff;
    }
    & > * {
      margin-left: 1rem;
      color: #fff;
    }
  }

.topbarCenter {
  flex: 5;
}


.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
}

.searchInput:focus {
  outline: none;
}

.myInput {
  
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}


.myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}


.myUL ul li {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}
